body {
    background-color: #093535 !important;
}

#form1 {
    position: absolute;
    background-color: #f1f1f1;
    padding-left: 4vw;
    margin-top: 10vh;
    margin-left: 30vw;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5px;
    position: relative;
    width: 28vw;
    border: 1px solid black;
}

button a {
    text-decoration: none;
}

#ex {
    position: absolute;
    margin-left: 22vw;
    border-radius: 5px;
    border: none;
    margin-top: -1.6vw;
    text-transform: uppercase;
}

#ex:hover {
    border: 1px solid black
}

input {
    outline: none !important;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px #093535;
}

#file {
    width: 19vw;
}